body {
    background-color: #0C141F;
    font-family: 'Fjord One', serif;
}

body p, h1, h2 {
    color: #E6FFFF;
}

body a {
    color: #6FC3DF;
}

body a:hover {
    color: #DF740C;
}

body h1 {
    font-size: 3.6em;
}
body p {
    font-size: 1.1em;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}

.vertical-center {
    z-index: 10;
    min-height: 100%;
    margin-top: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-flex; /* For Safari */
    -webkit-justify-content: center; /* For Safari */
    -webkit-align-items: center; /* For Safari */
    text-align: center;
}

.fjord-font {
    font-family: 'Fjord One', serif;
}

.raleway-font {
    font-family: 'Raleway', sans-serif;
}

.kiosked_logo {
    z-index: -1;
    width: 50px;
    padding-bottom: 4px;
}

.image-container {
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: -webkit-flex; /* For Safari */
    -webkit-justify-content: center; /* For Safari */
    -webkit-align-items: center; /* For Safari */
}

.image {
    margin-top: 3em;
    margin-bottom: 1em;
    max-height: 400px;
}

@media only screen and (max-width: 500px) {

    body a {
        color: #6FC3DF;
    }

    .image-container {
        display: none;
    }

    .image {
        display: none;
    }

    p span {
        display: block;
    }

    .vertical-center {
        min-height: 100%;
        margin-top: 15em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: -webkit-flex; /* For Safari */
        -webkit-justify-content: center; /* For Safari */
        -webkit-align-items: center; /* For Safari */
        text-align: center;
    }

    .image-container {
        min-width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: -webkit-flex; /* For Safari */
        -webkit-justify-content: center; /* For Safari */
        -webkit-align-items: center; /* For Safari */
    }

    .image {
        margin-top: 3em;
        margin-bottom: 1em;
        max-height: 300px;
    }

}