pre {
    padding: 4px 12px;
    background: #FDFEFB;
    border-radius: 4px;
    border: 1px solid #D7D8C8;
    overflow: auto;
    overflow-y: hidden;
    margin-bottom: 32px;
}

.custom-button-secondary {
    background: rgb(71, 159, 202); /* this is a light blue */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/

